$line-global: 20px;
$gutter-global: $line-global*2; // 40px
$offset-global: $gutter-global;

#page-cart {
  .cart-page-contents {
    max-width: 500px;
    width: 100%;
    margin: $offset-global auto 0;
  }
}