$line-global: 20px;
$gutter-global: $line-global*2; // 40px
$offset-global: $gutter-global;

#page {
  .page-content {
    margin-top: $offset-global;
  }

  .page-inner {
    max-width: 500px;
    margin: 0 auto;
  }
}