.quantity-picker .option-fieldset {
  display: inline-block;
}
.quantity-picker button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  font-family: "Plex Mono", "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 20px;
  width: 20px;
  text-align: center;
}
.quantity-picker button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.quantity-picker button:hover {
  color: #000000;
}
.quantity-picker .quantity-text {
  font-family: "Noto Serif", "Georgia", "Times New Roman", Times, serif;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
  line-height: 20px;
}