.collection-content {
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAFAFA;
}
.collection-content .collection-list {
  -ms-grid-columns: 16.66vw (33.33vw)[6] 16.66vw;
  grid-template-columns: 16.66vw repeat(6, 33.33vw) 16.66vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection-content .collection-list > *:last-child {
  padding-right: 40px;
}
.collection-content .collection-list .collection-description {
  margin-top: 20px;
}
.collection-content .collection-list .product-card,
.collection-content .collection-list aside {
  grid-column: auto;
  -ms-grid-row: 1;
  grid-row: 1;
}