.product-more .collection-title-tag {
  width: calc(100% - 40px);
  max-width: 427px;
  margin-left: 40px;
  background-color: #FAFAFA;
  padding: 20px;
}
.product-more .collection-content {
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAFAFA;
}
.product-more .collection-list {
  -ms-grid-columns: 16.66vw (33.33vw)[5] 16.66vw;
  grid-template-columns: 16.66vw repeat(5, 33.33vw) 16.66vw;
}
.product-more .collection-list > *:last-child {
  padding-right: 40px;
}
.product-more .collection-list .product-card,
.product-more .collection-list aside {
  grid-column: auto;
  -ms-grid-row: 1;
  grid-row: 1;
}