#page-search #search-form-wrap {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100vh - 100px);
  background: #FAFAFA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#page-search .search-form,
#page-search .results-inner {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}
#page-search #search-results {
  margin-top: 40px;
  margin-bottom: 40px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
#page-search .results-grid {
  margin-top: 40px;
}
#page-search.search-performed #search-form-wrap {
  max-height: 600px;
}