.image_text-wrap .image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.image_text-wrap .image-text > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.image_text-wrap .image-text.direction-rtl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.image_text-wrap .image-text.bgcolor-black .image-content {
  background-color: #000000;
}
.image_text-wrap .image img {
  display: block;
  width: 100%;
}
.image_text-wrap .image-content {
  padding: 40px;
}
.image_text-wrap .image-content-inner {
  height: 100%;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 250px;
  margin: 0 auto;
}
.image_text-wrap p,
.image_text-wrap .button {
  margin-top: 20px;
}