.hero-slideshow {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.hero-slideshow .slideshow-wrap {
  position: relative;
  height: 100%;
}
.hero-slideshow .slide {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  z-index: 0;
  background-color: #FAFAFA;
}
.hero-slideshow .slide .slide-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-slideshow .slide .slide-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slideshow .slide .slide-image .placeholder-svg {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.hero-slideshow .slide .slide-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-slideshow .slide .slide-content p {
  margin-top: 20px;
}
.hero-slideshow .slide .slide-content .button {
  margin-top: 20px;
}