#page-collection #collection-image {
  height: 33vh;
  min-height: 250px;
  max-height: 800px;
}
#page-collection #collection-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page-collection .collection-content {
  padding-top: 40px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
#page-collection .collection-sidebar {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}
#page-collection .product-card:nth-of-type(odd) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}
#page-collection .product-card:nth-of-type(even) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
}
#page-collection .product-card:nth-of-type(1), #page-collection .product-card:nth-of-type(2) {
  -ms-grid-row: 1;
  grid-row: 1;
}
#page-collection .collection-description {
  margin-top: 20px;
}
#page-collection .collection-sorting {
  margin-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 40px;
}