$line-global: 20px;
$gutter-global: $line-global*2; // 40px
$offset-global: $gutter-global;

$light-white: #FAFAFA;

.collection-content {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: $line-global*5;
    padding-bottom: $line-global*5;
    background-color: $light-white;
  
  .collection-list {
    grid-template-columns: 16.66vw repeat(6, 33.33vw) 16.66vw;

    align-items: center;

    >*:last-child {
      padding-right: $offset-global;
    }

    .collection-description {
      margin-top: 20px;
    }

    .product-card,
    aside {
      grid-column: auto;
      grid-row: 1;
    }
  }
}