$header-height: 100px;


$white: #FFFFFF;
$light-white: #FAFAFA;
$border-color: rgba(0,0,0,0.15);

$standard-border: 1px solid $border-color;

$line-global: 20px;
$gutter-global: $line-global*2; // 40px
$offset-global: $gutter-global;

#mini-cart {
  display: none;
  position: fixed;
  top: $header-height;
  right: 0;
  background: $white;
  padding: 0 $offset-global $line-global;
  max-width: 500px;
  width: 100%;
  z-index: 2;

  .mini-cart-contents {
    .cart-totals,
    .currency-note {
      padding-left: 80px;
      text-align: left;
    }

    .update-button {
      display: none;
    }

    .subtotal-line {
      border-bottom: 0;
    }
  }
}

#no-click {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: transparentize($light-white, 0.05);
}

html.mini-cart-open {

  height: 100vh;
  overflow: hidden;

  #mini-cart,
  #no-click {
    display: block;
  }
}

.cart-contents {

  .cart-empty-text {
    margin: ($line-global*5) 0;
  }

  .subtotal-line {
    padding: $line-global 0;
    border-bottom: $standard-border;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .update-button {
    display: inline-block;
    width: auto;
    margin-top: $line-global;
    margin-bottom: $line-global;
  }

  .cart-buttons {
    text-align: center;
  }

  .currency-note {
    text-align: center;
    margin-top: $line-global;
  }

  .keep-shopping {
    display: table;
    margin: 0 auto;
  }  
}