$text-font: 'Plex Mono', 'Courier New', Courier, monospace;

$line-global: 20px;

$black: #000000;
$border-color: rgba(0,0,0,0.15);

$standard-border: 1px solid $border-color;
$type-body-lg: 31px;

@mixin reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

.search-form {
  position: relative;

  #search-term {
    @include reset-input;
    display: block;
    font-family: $text-font;
    font-size: $type-body-lg;
    line-height: $line-global*2;
    width: 100%;
    margin-top: $line-global;
    padding-bottom: $line-global;
    border-bottom: $standard-border;
    color: $black;

    &:focus {
      border-bottom-color: $black;
    }
  }

  button {
    position: absolute;
    right: 0;
    bottom: $line-global;
    width: auto;
  }
}